modalbet {
    .btn-dismiss-modal {
        background: none;
        font-size: 4vw;
        color: #1c638a;
    }
    .toolbar-background {
        background-color: #E0BB92;
    }
    .bg-content {
        background: #E0BB92;
    }
    .team-side {
        width: 100%;
        text-align: center;
        animation: lightSpeedIn 1s;
        img {
            width: 40vw;
            padding-top: 50px;
        }
    }
    .draw-side {
        width: 100%;
        text-align: center;
        img {
            width: 40vw;
            padding-top: 30px;
        }
        h1 {
            text-align: center;
            font-family: 'Trebuchet MS';
            animation: bounceIn 1s;
            margin: 0;
        }
    }
    .bet-side {
        p {
            text-align: center;
        }
        ion-input {
            padding: 0 30px 30px;
            text-align: center;
            font-size: 13vw;
            .text-input-ios {
                border-bottom: 1px solid;
                text-align: center;
            }
        }
    }
    .btn-side {
        text-align: center;
        button {
            background: #1c638a;
            color: white;
            border: none;
            width: 150px;
            height: 35px;
            border-radius: 50px;
            font-size: 4vw;
        }
    }
    .notice {
        width: 100%;
        padding: 40px 20px 0;
        div {
            border: 1px solid black;
            border-radius: 10px;
            padding: 0 15px;
            .number {
                font-size: 5vw;
            }
        }
    }
}