<ion-header>
    <ion-navbar>
        <ion-title></ion-title>
        <ion-buttons start>
            <button (click)="closeModal()" class="btn-dismiss-modal">
          Cancel
          </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="bg-content">
    <div class="team-side" *ngIf="isDraw">
        <img [src]="detailMatch.picture" alt="">
        <h1>{{detailMatch.teamName}}</h1>
    </div>
    <div class="draw-side" *ngIf="!isDraw">
        <img alt="" src="./assets/icon/logo2018.png">
        <h1 *ngIf="!isDraw && valueBet.key==='Over'">Over</h1>
        <h1 *ngIf="!isDraw && valueBet.key==='Under'">Under</h1>
        <h1 *ngIf="!isDraw && valueBet.key==='Draw'">DRAW</h1>
    </div>
    <div class="bet-side">
        <p>Please input your Point to Bet:</p>
        <ion-input type="tel" [(ngModel)]="betPoint" maxlength="6"></ion-input>
    </div>
    <div class="btn-side">
        <button (click)="betMatch(betPoint)">Bet!</button>
    </div>
    <div class="notice">
        <div>
            <p><i>*<u>Notes:</u></i></p>
            <ul type="disc">
                <li><span>Current point: </span><span class="number">10000</span></li>
                <li><span>Maximum Bet: </span><span class="number">5000</span></li>
                <li><span>Minimum Bet: </span><span class="number">1000</span></li>
            </ul>
        </div>
    </div>
</ion-content>