$bet-background-color:#f9f7ea;
$vs-color:#13375c;
$button-color:#c21a24;
modalbet {
    .btn-dismiss-modal {
        background: none;
        font-size: 4vw;
        color: #1c638a;
    }
    .toolbar-background {
        background-color: $bet-background-color;
    }
    .bg-content {
        background: $bet-background-color;
        font-family: Gill Sans, Verdana;
    }
    .team-side {
        width: 100%;
        text-align: center;
        animation: lightSpeedIn 1s;
        img {
            width: 35%;
            padding-top: 50px;
        }
    }
    h1 {
        text-align: center;
        font-family: 'Trebuchet MS';
        animation: bounceIn 1s;
        margin: 0;
        padding: 13px;
        color:$vs-color;
    }
    .draw-side {
        width: 100%;
        text-align: center;
        img {
            width: 35%;
            padding-top: 30px;
        }
        
    }
    .bet-side {
        p {
            text-align: center;
            color:$vs-color;
            font-size: 110%;
        }
        ion-input {
            padding: 0 30px 30px;
            text-align: center;
            font-size: 13vw;
            .text-input-ios {
                border-bottom: 1px solid $vs-color;
                text-align: center;
                color:$vs-color;
            }
        }
    }
    .btn-side {
        text-align: center;
        button {
            background: $button-color;
            color: white;
            border: none;
            width: 150px;
            height: 35px;
            border-radius: 50px;
            font-size: 4vw;
        }
    }
    .notice {
        width: 100%;
        padding: 40px 20px 0;
        div {
            border: 1px solid $vs-color;
            color:$vs-color;
            border-radius: 10px;
            padding: 0 15px;
            .number {
                font-size: 5vw;
            }
        }
    }
}