page-login {
    .toolbar-background {
        background-color: transparent;
        border: none;
    }
    .toolbar-title {
        display: flex;
        justify-content: center;
        color: white;
        font-family: Gill Sans, Verdana;
    }
    .header-ios .toolbar-ios:last-child .toolbar-background-ios {
        border-width: 0;
    }
    .login-content {
        .scroll-content {
            overflow: hidden;
        }
        .mask {
            background: #c21a24;
            height: 15vh;
            position: relative;
            top: 0;
            width: 100%;
            .logo-log {
                position: absolute;
                bottom: -10vw;
                width: 100%;
                left: 0;
                text-align: center;
                img {
                    height: 30vw;
                    border-radius: 10px;
                }
            }
        }
        .login-form {
            width: 100%;
            top: 20vw;
            position: relative;
            .text-input {
                font-size: 4vw;
            }
            .text-input::-moz-placeholder {
                font-size: 4vw;
                text-align: left;
            }
            .text-input:-ms-input-placeholder {
                font-size: 4vw;
                text-align: left;
            }
            .text-input::-webkit-input-placeholder {
                text-indent: 0;
                font-size: 4vw;
                text-align: left;
            }
            h1 {
                font-size: 6vw;
                text-align: center;
                color: black;
                font-family: Gill Sans, Verdana;
                animation: zoomIn 1s;
            }
            .form {
                padding: 0 10vw 5vw;
                .list-form {
                    margin-bottom: 6vh !important;
                    .label {
                        font-size: 4vw;
                    }
                }
                .list-ios>.item-block:first-child {
                    border-top: 0;
                    background: none;
                    color: black;
                    padding: 3vw 0;
                    .item-inner {
                        border-bottom: 1px solid lightgray;
                    }
                }
                .list-ios>.item-block:last-child {
                    border-bottom: 0;
                    background: none;
                    color: black;
                    padding: 2vw 0;
                    .item-inner {
                        border-bottom: 1px solid lightgray;
                    }
                }
                .btn-log {
                    width: 100%;
                    text-align: center;
                    button {
                        width: 45vw;
                        background: #c21a24;
                    }
                }
                .register-side {
                    padding-top: 4vw;
                    p:first-child {
                        color: black;
                        text-align: center;
                    }
                    p:last-child {
                        color: #c21a24;
                        text-align: center;
                        font-size: 5vw;
                        margin: 0;
                    }
                }
            }
        }
    }
}