page-bet {
    .card-ios {
        border-radius: 15px;
        margin: 0 0 20px 0;
        width: 100%;
    }
    .card-ios .item-ios.item-block .item-inner {
        padding: 0;
    }
    .label-ios {
        margin: 0;
    }
    .home-content {
        // background: url('../assets/images/bg/bg-main3.jpg') no-repeat;
        // background-size: cover;
    }
    .toolbar-background {
        background-color: transparent;
    }
    .toolbar-title {
        display: flex;
        justify-content: center;
        color: white;
        font-family: Gill Sans, Verdana;
    }
    h2 {
        font-size: 5vw;
        padding-top: 10px;
        color: black;
        text-align: center;
    }
    .type1 {
        background-color: rgba(223, 187, 148, 0.7);
        border-radius: 10px;
        color: black;
        height: 250px;
        margin-top: 5px;
        .origin-side {
            display: flex;
            justify-content: space-between;
            padding: 15px 9vw 5px;
            h5 {
                font-size: 3vw;
                text-align: center;
            }
            .odd {
                font-size: 4vw;
                width: 30px;
                text-align: center;
            }
            img {
                width: 70px;
                height: 40px;
            }
            .draw {
                padding-top: 25px;
                font-size: 7vw;
            }
            .team-name {
                text-align: center;
            }
        }
        .odd-side {
            @extend .origin-side;
            padding: 8px 14vw;
            justify-content: space-between;
            .odd {
                font-size: 4vw;
                width: 30px;
                text-align: center;
                .btn-bet {
                    display: flex;
                    justify-content: center;
                    padding-top: 20px;
                    .button[icon-only] {
                        background: none;
                        margin: 0;
                    }
                    img {
                        height: 30px;
                        width: 30px;
                    }
                }
            }
        }
    }
    .type2 {
        @extend .type1;
        margin-top: 15vw;
        .over-under {
            @extend .origin-side;
            padding-left: 50px;
            padding-right: 50px;
            .target {
                div {
                    @extend .odd;
                    font-size: 15vw;
                }
                .odd-symb {
                    font-size: 4vw;
                }
            }
            .under,
            .over {
                .rate {
                    font-size: 4vw;
                    width: 30px;
                    text-align: center;
                }
                .btn-bet {
                    @extend .btn-bet;
                    padding-top: 20px;
                    .button[icon-only] {
                        background: none;
                        margin: 0;
                    }
                    img {
                        height: 30px;
                        width: 30px;
                    }
                }
            }
        }
    }
}