// #E0BB92
page-profile {
    .toolbar-background {
        background-color: transparent;
        border: none;
    }
    .header-ios .toolbar-ios:last-child .toolbar-background-ios {
        border-width: 0;
    }
    .toolbar-title {
        display: flex;
        justify-content: center;
        color: white;
        font-family: Gill Sans, Verdana;
    }
    .home-content {
        .mask {
            background: #c21a24;
            height: 15vh;
            position: relative;
            top: 0;
            width: 100%;
            .logo-log {
                position: absolute;
                bottom: -10vw;
                width: 100%;
                left: 0;
                text-align: center;
                img {
                    width: 30vw;
                    height: 30vw;
                    background: white;
                    padding: 5px;
                    border-radius: 50%;
                }
            }
        }
        .name-side {
            width: 100%;
            top: 13vw;
            position: relative;
            h1 {
                margin: 0;
                font-size: 6vw;
                text-align: center;
                color: black;
                font-family: Gill Sans, Verdana;
                animation: zoomIn 1s;
            }
        }
        // .full-name {
        //     padding-top: 5vw;
        //     display: flex;
        //     justify-content: center;
        //     h3 {
        //         text-transform: capitalize;
        //         color: #E0BB92;
        //     }
        // }
        .point-info {
            padding-top: 20vw;
            display: flex;
            justify-content: space-between;
            ion-row {
                width: 100%;
                text-align: center;
                font-family: Gill Sans, Verdana;
                .mid-col {
                    border-left: 1px solid black;
                    border-right: 1px solid black;
                }
            }
            .number-p {
                color: black;
                font-size: 7vw;
                padding-top: 2vw;
                text-align: center;
                font-family: Gill Sans, Verdana;
            }
        }
        .details-side {
            padding-top: 10vw;
            h1 {
                font-family: Gill Sans, Verdana;
                text-align: center;
                font-size: 7vw;
                font-weight: bold;
            }
            .detail-info {
                display: flex;
                justify-content: space-between;
                padding: 0 5vw 5vw;
                p {
                    font-family: Gill Sans, Verdana;
                    font-size: 4vw;
                }
                .right {
                    text-align: right;
                    .upper-name {
                        text-transform: uppercase;
                    }
                }
                .left {
                    font-weight: bold;
                }
            }
        }
        // .mask {
        //     background: #E0BB92;
        //     opacity: 0.7;
        //     height: 35vh;
        //     position: relative;
        //     bottom: 0;
        //     left: 0;
        //     border-radius: 10px;
        //     margin-top: 10vw;
        //     .details-side {
        //         position: absolute;
        //         bottom: 0;
        //         left: 0;
        //         width: 100%;
        //         color: black;
        //         padding: 5vw;
        //         height: 100%;
        //         line-height: 90%;
        //         .detail-info {
        //             display: flex;
        //             justify-content: space-between;
        //             .right {
        //                 text-align: right;
        //                 .upper-name {
        //                     text-transform: uppercase;
        //                 }
        //             }
        //         }
        //         h5 {
        //             text-align: center;
        //         }
        //     }
        // }
    }
}