<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title class="head-title">My Profile</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="home-content">
    <div class="ava-side">

        <div class="avatar">
            <!-- Male: Boy -->
            <img *ngIf="info.gender" src="./assets/icon/boy.png" alt="">
            <!-- Male: Girl -->
            <img *ngIf="!info.gender" src="./assets/icon/girl.png" alt="">
        </div>
    </div>
    <div class="full-name">
        <!-- Title Name -->
        <h3>{{titleName}}</h3>
    </div>
    <div class="point-info">
        <!-- Current Point -->
        <div class="current-point">
            <div class="title-p">Current Point</div>
            <div class="number-p">{{info.currentpoint}}</div>
        </div>
        <!-- Total Matches Bet -->
        <div class="total-bet">
            <div class="title-p">Total Matches</div>
            <div class="number-p text-center">{{info.totalmatch}}</div>
        </div>
        <!-- Winning Ratio -->
        <div class="win-ratio">
            <div class="title-p">Win Rate</div>
            <div class="number-p">{{winRate | number}}%</div>
        </div>
    </div>
    <div class="mask">
    </div>
    <div class="details-side">
        <h5>More Details</h5>
        <div class="detail-info">
            <div class="left">
                <p>Full Name:</p>
                <p>Favorite Team:</p>
                <p>Total Win:</p>
                <p>Total Lose:</p>
                <p>Average Point Bet:</p>
            </div>
            <div class="right">
                <p class="upper-name">{{fullName}}</p>
                <p>{{info.favorite}}</p>
                <p>{{info.totalwin}}</p>
                <p>{{totalLose}}</p>
                <p>{{info.averagepoint}}</p>
            </div>
        </div>
    </div>
</ion-content>