page-home {
    .toolbar-background {
        background-color: transparent;
        border: none;
    }
    .header-ios .toolbar-ios:last-child .toolbar-background-ios {
        border-width: 0;
    }
    .toolbar-title {
        display: flex;
        justify-content: center;
        color: white;
        font-family: Gill Sans, Verdana;
    }
    .home-content {
        // background: url('../assets/images/bg/bg-main3.jpg') no-repeat;
        // background-size: cover;
        background: #c21a24;
        .scroll-content {
            overflow: hidden;
        }
        .logo-side {
            text-align: center;
            padding-top: 20vw;
            animation: zoomIn 1s;
            img {
                width: 40vw;
                border-radius: 10px;
            }
        }
        .list-match {
            .team {
                display: flex;
                justify-content: space-between;
                padding: 20px 10px;
                .vs {
                    color: wheat;
                    align-self: center;
                }
                img {
                    width: 100px;
                    height: 65px;
                }
            }
            .short-inf {
                color: white;
                text-align: center;
                span {
                    font-weight: bold;
                }
            }
        }
        .button-bet {
            position: absolute;
            bottom: 25vh;
            left: 0;
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            img {
                width: 70px;
            }
            .text-bet {
                color: red;
                font-size: 5vw;
                width: 45%;
                background: white;
                height: 12vw;
                border-radius: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: Gill Sans, Verdana;
            }
        }
    }
    h1 {
        text-align: center;
        color: sandybrown;
    }
    h5 {
        text-align: center;
        color: white;
    }
}