// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.bar-button-default-ios {
    color: #E0BB92;
}

// .bar-buttons-ios[end] {
//     font-size: 20px;
// }
.toolbar-ios {
    padding: 4px 10px;
}

.content-menu {
    background: #E0BB92;
    .avatar {
        position: absolute;
        top: 20vw;
        width: 100%;
        text-align: center;
        img {
            width: 30vw;
            height: 30vw;
            background: white;
            padding: 5px;
            border: 4px solid white;
            border-radius: 50%;
        }
    }
    .navigate-info {
        position: absolute;
        top: 40%;
        width: 100%;
        padding: 0 30px;
        .item {
            background: transparent;
            border-top: none;
            border-bottom: 1px solid black;
            padding: 0;
            .item-inner {
                border: none;
            }
        }
    }
    .btn-log {
        position: absolute;
        bottom: 15%;
        width: 100%;
        text-align: center;
        button {
            width: 125px;
            height: 40px;
            border-radius: 30px;
            background: transparent;
            border: 1px solid black;
            font-size: 3.5vw;
        }
    }
}