<ion-menu [content]="content">
    <!-- Left Menu -->
    <ion-content class="content-menu">
        <div class="ava-side">
            <div class="avatar">
                <img src="./assets/icon/boy.png" alt="" (click)="openProfile()">
            </div>
        </div>

        <div class="navigate-info">
            <ion-list>
                <ion-item *ngFor="let item of pages" (click)="openPage(item)">
                    <ion-icon name="{{item.icon}}" item-start></ion-icon>
                    {{item.title}}
                </ion-item>
            </ion-list>
        </div>
        <div class="btn-log">
            <button *ngIf="isLogged" (click)="logOut()">Sign Out</button>
        </div>
    </ion-content>
    <!-- End Left Menu -->
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>