page-ranking {
    .card-ios {
        border-radius: 15px;
        margin: 0 0 20px 0;
        width: 100%;
    }
    .card-ios .item-ios.item-block .item-inner {
        padding: 0;
    }
    .label-ios {
        margin: 0;
    }
    .home-content {
        .logo-rank {
            text-align: center;
            padding-bottom: 10px;
            img {
                width: 100px;
                height: 100px;
                animation: bounceIn 1s;
            }
        }
        h1 {
            color: black;
            text-align: center;
            font-family: Gill Sans, Verdana;
            margin: 0;
            padding-bottom: 7vw;
        }
        h5 {
            margin: 0;
            text-align: center;
            font-size: 3.5vw;
            color: #3366BB;
            text-decoration: underline;
            font-family: Gill Sans, Verdana;
        }
        .list-rank {
            margin: 0;
        }
        .list-ios>.item-block:first-child {
            border-top: none;
        }
        .list-ios>.item-block:last-child {
            border-bottom: none;
        }
    }
    .toolbar-background {
        background-color: transparent;
    }
    .toolbar-title {
        display: flex;
        justify-content: center;
        color: white;
        font-family: Gill Sans, Verdana;
    }
    //background-color: rgba(0, 0, 0, 0.6);
    .item-ios {
        padding-left: 0 !important;
        border-radius: 0;
        position: relative;
        font-size: 1.7rem;
        color: black;
        background: none;
        ion-avatar {
            background: white;
            border-radius: 10px;
            img {
                width: 50px;
                height: 50px;
            }
        }
        .info-side {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2 {
                font-family: Gill Sans, Verdana;
                white-space: nowrap;
                width: 8em;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .point-side {
                padding-right: 10px;
                font-family: Gill Sans, Verdana;
            }
        }
    }
    .footer-rank {
        background: #c21a24;
        ion-title {
            padding: 0 !important;
            .toolbar-title {
                display: flex;
                justify-content: space-between;
                padding: 0 8vw;
            }
        }
    }
}